@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@400;500;600;700&family=Yeseva+One&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6.625rem;
}

:root {
  --primary-color: #ff7625;
  --secondary-color: #060c14;
  --tertiary-color: #868689;
  --tertiary-color-light: #9b9b9b;
  --white-color: #fff;

  --ff-s: "Yeseva One", serif;
  --ff-ss: "Poppins", sans-serif;

  --fw-n: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;

  --fs-2: 5rem;
  --fs-3: 2rem;
}

body {
  font-family: var(--ff-ss);
  font-size: 1.125rem;
  line-height: 1.5;
  min-height: 100svh;
}

img,
video,
svg,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty;
}

.container {
  max-width: 1620px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  top: 1.875em;
  z-index: 1000;
}

.header__dark-bg {
  background-color: var(--secondary-color);
  border-radius: 100px;
}

.header.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
}

.header__content.fixedPadding {
  padding-inline: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5.875em;
  padding-inline: 2em;
  gap: 0.2em;
}

.logo__text {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  color: var(--white-color);
}

.logo__orange {
  color: var(--primary-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  transition: all 0.3s;
}

.primary {
  margin: 0 auto;
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  color: var(--white-color);
  transition: all 0.3s;
}

.nav__link:hover {
  opacity: 0.75;
}

.hamburger {
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}

.hamburger:hover {
  background-color: var(--white-color);
}

.bar {
  width: 27px;
  height: 2px;
  background-color: var(--white-color);
  margin: 5px 0;
  transition: all 0.3s;
}

.hamburger:hover .bar {
  background-color: var(--primary-color);
}

.nav__link.active--link,
.nav--btn {
  background-color: var(--primary-color);
  font-family: var(--ff-s);
  padding: 0.5em 1.3em;
  border-radius: 50px;
  border-bottom: 1px solid var(--secondary-color);
  box-shadow: 0px 4px var(--white-color);
}

.user-signup-login i {
  color: var(--white-color);
  font-size: 1.5rem;
  background-color: var(--primary-color);
  padding: 0.4em;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
  display: none;
}

.user-signup-login i:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

/* SHOW MENU */
.nav--open {
  transform: translateX(0) !important;
}

.hamburger--open .bar:first-child {
  transform: translateY(7px) rotate(45deg);
}

.hamburger--open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger--open .bar:last-child {
  transform: translateY(-7px) rotate(-45deg);
}

/* MAIN HERO AREA */
.hero__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  padding: 9em 0 2em;
}

.glass form {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 2em;
  width: 100%;
  max-width: 60em;
}

.hero__h2 {
  font-size: var(--fs-2);
  font-family: var(--ff-s);
  line-height: 1;
}

.hero__h2,
.hero__h3 {
  text-align: center;
  text-transform: uppercase;
}

.hero__h3 {
  font-weight: var(--fw-sb);
  font-size: 1.5rem;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 1);
}

.hero__btn {
  border: none;
  background-color: #ffcfb3;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0.7em;
  border-radius: 50px;
  transition: all 0.3s;
  margin-top: 1.5em;
  flex: 1;
}

.hero__btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.search--btn {
  width: 100%;
}

.buttons--container {
  display: flex;
  gap: 1.5em;
}

.input--box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 1.5em;
}

.input--box input,
.input--box select {
  flex: 1 1 20em;
  border: 0.1em solid var(--white-color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.7em 1em;
  border-radius: 50px;
  outline: none;
}

/* ABOUT US */
section.services {
  padding-block: 2em 5em;
  padding-block: 3.7em 7.7em;
  background-color: #fafbfb;
  min-height: 100vh;
}
.services__heading {
  font-size: var(--fs-2);
  font-family: var(--ff-s);
  text-align: center;
}

.services__text {
  text-align: center;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.services .box--container {
  display: flex;
  gap: 1.5em;
  text-align: center;
  flex-wrap: wrap;
}

.services .box:nth-child(odd) {
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.services .box {
  flex: 1 1 20rem;
  padding: 2em 1.5em;
  background-color: #fff7f3;
  border-radius: 10px;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .box__image {
  margin: 0 auto;
}

.services .box__sub--heading {
  font-size: var(--fs-3);
  font-family: var(--ff-s);
  margin-top: 1em;
}

.services .box__text {
  margin-block: 1em;
}

.services .box__btn {
  border: none;
  background-color: #ffcfb3;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 0.7em 2em;
  border-radius: 50px;
  transition: all 0.3s;
}

.services .box__btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* FEATURED */
.featured {
  background-color: var(--secondary-color);
  padding-block: 2em 5em;
}

.featured__heading {
  font-size: var(--fs-2);
  font-family: var(--ff-s);
  text-align: center;
  color: var(--white-color);
  margin-bottom: 0.4em;
}

.featured .box--container {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
}

.featured .box {
  border: 0.1em solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: var(--tertiary-color-light);
  overflow: hidden;
  flex: 1 1 25rem;
}

.featured .image--container {
  position: relative;
}

.featured .image--container .box__image {
  border-radius: 10px 10px 0 0;
}

.featured .box__image {
  width: 100%;
  height: 37vh;
  object-fit: cover;
}

.featured .box__info {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  display: flex;
  gap: 0.5em;
}

.featured .box__info h3 {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 0.1em 0.5em;
  font-size: 0.9rem;
  color: var(--white-color);
}

.featured .box__icons {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  display: flex;
  gap: 0.5em;
}

.featured .box__icons a {
  font-size: 0.9rem;
  color: var(--white-color);
  display: flex;
  gap: 0.5em;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.3em 0.5em 0.2em;
  border-radius: 5px;
  transition: all 0.3s;
}

.featured .box__icons a:hover {
  background-color: var(--primary-color);
}

.featured .box__content {
  padding: 1em;
}

.featured .box__price {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.featured .box__price h3 {
  margin-right: auto;
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: var(--fw-sb);
}

.featured .box__price a {
  background-color: #fff7f3;
  padding: 0.3em;
  border-radius: 5px;
  transition: all 0.3s;
}

.featured .box__price a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.featured .box__locations h3 {
  font-size: 1.4rem;
  font-family: var(--ff-s);
  color: var(--white-color);
  line-height: 1;
  margin-top: 0.5em;
}

.featured .box__locations p {
  font-family: var(--ff-s);
  color: var(--white-color);
}

.featured .box__details {
  display: flex;
  gap: 0.2em;
  margin-block: 1em;
}

.featured .box__details h3 {
  font-size: 0.8rem;
  border: 1px solid var(--tertiary-color-light);
  padding: 0.3em 0.4em;
  border-radius: 5px;
}

.featured .box__details i {
  margin-right: 0.2em;
}

.featured--buttons {
  padding-block: 0.5em;
  display: flex;
  gap: 0.5em;
}

.featured--buttons a {
  border: none;
  background-color: #ffcfb3;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7em 1.2em;
  border-radius: 50px;
  transition: all 0.3s;
}

.featured--buttons a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* AGENTS */
section.agents {
  background-color: #fafbfb;
  padding-block: 2em 5em;
}

.agents .container {
  padding-inline: 1rem;
}

.agents__heading {
  font-family: var(--ff-s);
  font-size: var(--fs-2);
  text-align: center;
  margin-bottom: 0.4em;
}

.agents__text {
  text-align: center;
  margin: 0 auto;
  font-size: 1.3rem;
  margin-bottom: 2em;
}

.agents .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 1em;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .box {
  cursor: grab;
  user-select: none;
}

.agents .slider--btn {
  background-color: var(--white-color);
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 44px;
  height: 44px;
  position: absolute;
  top: 62%;
  transform: translateY(-62%);
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s;
}

.agents .slider--btn:hover {
  background-color: var(--primary-color);
}

.agents .slider--btn:hover i {
  color: var(--white-color);
}

.agents .prev {
  left: -3px;
}

.agents .next {
  right: -3px;
}

.agents .box {
  scroll-snap-align: start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 3em 1em;
  background-color: var(--white-color);
  cursor: pointer;
}

.agents .box__image {
  border-radius: 100px;
  border: 5px solid var(--white-color);
  box-shadow: 0 0 0 5px var(--primary-color);
  margin: 0 auto;
}

.agents .box__text {
  position: relative;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2em;
}

.agents .bg--text {
  font-family: var(--ff-s);
  font-size: 7rem;
  color: rgba(255, 207, 179, 0.5);
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  line-height: 100%;
  z-index: 1;
}

.agents--name {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  position: relative;
  z-index: 2;
}

.agents--contacts {
  width: max-content;
  margin: 0 auto 1.5em;
}

.agents--contacts a {
  background-color: #fff7f3;
  padding: 0.3em;
  border-radius: 5px;
  transition: all 0.3s;
  font-size: 1.5rem;
  transition: all 0.3s;
}

.agents--contacts a:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.agents .job--title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.3rem;
}

/* CONTACT */
.contact {
  padding-block: 2em 5em;
}

.contact__heading {
  font-family: var(--ff-s);
  font-size: var(--fs-2);
  text-align: center;
  margin-bottom: 0.4em;
}

.contact .icon--container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.contact .icon--container .icon {
  flex: 1 1 20rem;
  background-color: var(--white-color);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.contact .icon__image {
  margin: 0 auto;
}

.contact__btn {
  border: none;
  background-color: #ffcfb3;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.7em 1.2em;
  border-radius: 50px;
  transition: all 0.3s;
  margin-top: 0.7em;
}

.contact__btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.contact h3 {
  font-family: var(--ff-s);
  font-size: 1.5rem;
}

.contact .row {
  background-color: var(--white-color);
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  margin-top: 2em;
}

.contact .row form {
  flex: 1 1 35rem;
  padding: 0.5em 1em;
}

.contact .row .map {
  flex: 1 1 25rem;
  width: 100%;
  padding: 1em;
}

.contact .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inputBox input,
.contact textarea {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background-color: #fff7f3;
  border-radius: 50px;
  width: 49%;
  border: none;
  color: var(--tertiary-color);
}

.contact textarea {
  width: 100%;
  height: 15.5rem;
  resize: none;
  border-radius: 20px;
}

.inputBox input:focus,
.contact textarea:focus {
  background-color: rgba(255, 207, 179, 0.5);
}

/* FOOTER */
.footer {
  background-color: var(--secondary-color);
  padding-block: 3em;
  color: var(--white-color);
  transition: all 0.3s;
}

.footer .box--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .social {
  display: flex;
  gap: 0.5em;
}

.social--icon a:hover {
  color: var(--primary-color);
}

/* SCROLL UP */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--secondary-color);
  display: inline-flex;
  padding: 8px;
  font-size: 1.25rem;
  color: var(--white-color);
  border-radius: 50px;
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s, background-color 0.4s;
  box-shadow: 0px 1px 3px white;
}

.scrollup:hover {
  transform: translateY(-0.5rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}

/* MEDIA */

@media (max-width: 1400px) {
  .featured .box {
    flex: 1 1 20rem;
  }
}

@media (max-width: 1100px) {
  .secondary {
    display: none;
  }

  .user-signup-login i {
    display: block;
  }

  section.services {
    padding-block: 2em 5em;
  }

  /* AGENTS */
  .agents .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  /* CONTACT */
  .contact .address {
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
    padding: 0.4em;
    border-radius: 25px;
  }

  .primary {
    flex-direction: column;
    row-gap: 1em;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
    width: 90%;
  }

  .nav {
    flex-grow: unset;
    margin-left: auto;
    margin-right: 0.5em;
    position: absolute;
    top: 58px;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    z-index: -1;
    border-radius: 0 0 50px 50px;
    transform: translateX(-103%);
  }

  .nav.fixedNav {
    top: 106px;
    left: 0;
    inset-inline-start: -22px;
    width: 100vw;
    z-index: unset;
    border-radius: 0;
  }

  .nav__link {
    display: block;
    border: 1px solid var(--white-color);
    padding: 0.5em 1.3em;
    border-radius: 50px;
  }

  .nav__link:hover {
    background-color: var(--primary-color);
  }

  .user-signup-login {
    margin-left: auto;
  }

  /* SERVICES */
  .services__heading {
    font-size: var(--fs-3);
  }

  .services__text {
    font-size: 1.1rem;
  }

  .featured__heading {
    font-size: var(--fs-3);
  }

  /* AGENTS */
  section.agents {
    padding-top: 3.5em;
  }

  .agents__heading {
    font-size: var(--fs-3);
    margin-bottom: 1em;
  }

  /* CONTACT */
  .contact__heading {
    font-size: var(--fs-3);
  }
}

@media (max-width: 768px) {
  /* AGENTS */
  .agents .carousel {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 600px) {
  /* HERO AREA */
  .glass form {
    padding-inline: 1em;
  }

  .buttons--container {
    gap: 0.5em;
  }

  .input--box {
    gap: 0.5em;
    margin-top: 1em;
  }

  .input--box input {
    width: 100%;
  }

  .hero__btn {
    margin-top: 1em;
  }

  /* CONTACT */
  .inputBox input {
    width: 100%;
  }

  /* FOOTER */
  .footer .box--container {
    flex-direction: column-reverse;
    text-align: center;
  }
}
